<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OA账号注册</title>
    <script src="../static/js/lib/jquery.min.js"></script>
    <script src="../static/js/common.js"></script>
    <link href="../static/js/lib/choseSelect/chosen.css" rel="stylesheet">
    <link href="../static/css/common.css" rel="stylesheet">
    <link href="../static/css/login.css" rel="stylesheet">
    <script src="../static/js/lib/choseSelect/chosen.jquery.min.js"></script>
    <script src="../static/js/lib/vue.min.js"></script>
    <script src="../static/js/lib/layer/layer.js"></script>
    <script src="../static/js/lib/md5.js"></script>
    <script src="../static/js/lib/particles.js"></script>
    <script src="../static/js/reg.js?v=20171120001001"></script>
</head>
<body>

<div id='pageinit' v-cloak>

    <div id="particles"></div>
    <div class="ycmedia" style="top:30%">
        <h1>银橙OA</h1>
        <section>

            <div class="form">

                <input type="text" placeholder="请输入登陆名" class="noBottomBorder" id="LoginName"  v-model="LoginName">

                <input type="password" placeholder="请输入密码" id="Pwd"   v-model="Pwd">

                <input type="password" placeholder="请输入确认密码" id="PwdSure"  v-model="PwdSure">

                <select data-placeholder="请选择上级" id='ParentId' class="chosen-select" style="width:100%; height: 48px; margin-left: 0px;" v-model="ParentId">
                    <option></option>
                    <option v-for='branch in ParentNames' value="{{branch.operatorId}}">{{branch.oName}}</option>
                </select>

                <input type="text" placeholder="请输入姓名" class="noBottomBorder" id="OName"   v-model="OName">
                <input type="text" placeholder="请输入邮箱" class="noBottomBorder" id="Email"   v-model="Email">
                <input type="text" placeholder="请输入电话" class="noBottomBorder" id="Phone"   v-model="Phone">
                <input type="text" placeholder="请输入QQ" class="noBottomBorder" id="QQ"   v-model="QQ">
                <select data-placeholder="请选择性别" id='Sex' class="chosen-select" style="width:100%;height: 48px;  margin-left: 0px;" v-model="Sex">
                    <option></option>
                    <option v-for='sex in sexArr' value="{{sex.id}}">{{sex.name}}</option>
                </select>

            </div>

            <button class="btn" id="btn" @click="submit()">注册</button>

        </section>
    </div>
</div>
</body>

<script>
    particlesJS("particles", {
        "particles": {
            "number": {
                "value": 30,
                "density": {
                    "enable": true,
                    "value_area": 800
                }
            },
            "color": {
                "value": "#e3e3e3"
            },
            "shape": {
                "type": "circle",
                "stroke": {
                    "width": 0,
                    "color": "#000000"
                },
                "polygon": {
                    "nb_sides": 5
                },
                "image": {
                    "src": "img/github.svg",
                    "width": 100,
                    "height": 100
                }
            },
            "opacity": {
                "value": 0.5,
                "random": false,
                "anim": {
                    "enable": false,
                    "speed": 1,
                    "opacity_min": 0.1,
                    "sync": false
                }
            },
            "size": {
                "value": 10,
                "random": true,
                "anim": {
                    "enable": false,
                    "speed": 50,
                    "size_min": 0.1,
                    "sync": false
                }
            },
            "line_linked": {
                "enable": true,
                "distance": 300,
                "color": "#e3e3e3",
                "opacity": 0.4,
                "width": 2
            },
            "move": {
                "enable": true,
                "speed": 8,
                "direction": "none",
                "random": false,
                "straight": false,
                "out_mode": "out",
                "bounce": false,
                "attract": {
                    "enable": false,
                    "rotateX": 600,
                    "rotateY": 1200
                }
            }
        },
        "interactivity": {
            "detect_on": "canvas",
            "events": {
                "onhover": {
                    "enable": false,
                    "mode": "repulse"
                },
                "onclick": {
                    "enable": false,
                    "mode": "push"
                },
                "resize": true
            },
            "modes": {
                "grab": {
                    "distance": 800,
                    "line_linked": {
                        "opacity": 1
                    }
                },
                "bubble": {
                    "distance": 800,
                    "size": 80,
                    "duration": 2,
                    "opacity": 0.8,
                    "speed": 3
                },
                "repulse": {
                    "distance": 400,
                    "duration": 0.4
                },
                "push": {
                    "particles_nb": 4
                },
                "remove": {
                    "particles_nb": 2
                }
            }
        },
        "retina_detect": true
    });


    $(function(){

        BaseJs.regManager()

    });

</script>


</html>